.searchForm{
    display: flex;
    position: relative;
    align-items: stretch;
    width: 100%;
}

.searchBar {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.6;
}
