.link {
    width: 15rem;
    height: 5rem;
    margin: 2rem;
    float: left;
    color: white;
    text-align: center;
}

.coral {
    background-color: coral;
}

.grey {
    background-color: slateGrey;
}
